anyio==4.9.0
idna==3.10
Jinja2==3.1.6
L2M4M==1.0.4
latex2mathml==3.78.0
Markdown==3.8.2
MarkupSafe==3.0.2
Pygments==2.19.2
pymdown-extensions==10.16
python-frontmatter==1.1.0
PyYAML==5.1
sniffio==1.3.1
watchfiles==1.1.0
