{% from "/components/pretty-path.jinja" import pretty_path %}
{% from "/components/navbar.jinja" import navbar %}

<!doctype html>
<html lang="en" class="gruvbox-dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>blog - peppidesu.dev</title>
        <link rel="stylesheet" href="/public/css/style.css" />
        <link rel="stylesheet" href="/public/font/maple-mono.css" />
    </head>
    <body>
        {{ navbar("blog") }}
        <main>
            <article>
                <h1 class="pretty-path">
                    {{ pretty_path(path_parts) }}
                </h1>
                <ul class="post-list">
                    {% for post in posts %}
                        <li>
                            &gt;&nbsp;
                            <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                            <span class="dotrule"></span>
                            <span class="date">{{ post.date }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </article>
            <aside>
                <h1>Subdir</h1>
                {{ toc | safe }}
            </aside>
        </main>
    </body>
</html>
